/* You can add global styles to this file, and also import other style files */
body, html {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 22px;
  margin: 0px;
  color: #c7c7c7;
}
